{% extends 'base.html' %}
{% load static %}
{% block content %}
{% for i in messages %}
<script>alert("{{i}}")</script>
{% endfor %}


<div class="contact-box-main">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-sm-12">
                    <div class="contact-form-right">
                        <h2>..SELLER_REGISTER..</h2>
                        
                        <form id="contactForm" method="post" action="{% url 'sellerregister'%}" enctype="multipart/form-data">
                            {%csrf_token%}
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder=" Name" required data-error="Please enter your Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="phone" placeholder="Phone" required data-error="Please enter your Name">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="email" placeholder="Email" required data-error="Please enter your Email">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" id="message" placeholder="address" name="address" rows="4" data-error="Write your Address" required></textarea>
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" placeholder="Password" id="email" class="form-control" name="password" required data-error="Please enter your password">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="repassword" placeholder="Repassword" required data-error="Please enter your password">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="file" placeholder="Image" id="file" class="form-control" name="image" required data-error="Please enter your password">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    
                                    <div class="submit-button text-center">
                                        <button class="btn hvr-hover" id="submit" type="submit">Register</button>
                                        <a href="{% url 'buyerregister' %}" class="register-link btn btn-primary px-4 py-2 rounded-pill shadow">
                                            Are you a Buyer?
                                        </a>
                                        <div id="msgSubmit" class="h3 text-center hidden"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                
                            </div>
                        </form>
                    </div>
                </div>
             </div>
        </div>
    </div>








{% endblock %}